[Unit]
Description=Syncthing Discovery Server
After=network.target

[Service]
User={{syncthing_user}}
Group={{syncthing_group}}
ExecStart={{syncthing_data.stdiscosrv.bin}} -db-dir {{syncthing_stdiscosrv_db}} -cert {{syncthing_data.stdiscosrv.cert}} -key {{syncthing_data.stdiscosrv.key}} -http
Restart=on-failure
SuccessExitStatus=2

PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

