[Unit]
Description=Syncthing Relay Server
After=network.target

[Service]
User={{syncthing_user}}
Group={{syncthing_group}}
ExecStart={{syncthing_data.strelaysrv.bin}} -keys {{syncthing_dir}} -pools "" -debug
Restart=on-failure
SuccessExitStatus=2

PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

