[Unit]
Description=Syncthing Server
After=network-online.target
RequiresMountsFor={% for mount in cifs_dirs %}{{ mount.path }} {% endfor %}

[Service]
User={{syncthing_user}}
Group={{syncthing_group}}
ExecStart={{syncthing_data.syncthing.bin}} -no-browser -no-restart -logflags=0 -home {{syncthing_data.syncthing.dir}}
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
