[Unit]
Description=Plex Media Server
After=docker.service
Requires=docker.service
RequiresMountsFor={{ pms_data_dir }}

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker kill {{ pms_service }}
ExecStartPre=-/usr/bin/docker rm {{ pms_service }}
ExecStart=/usr/bin/docker run --entrypoint "/entrypoint.sh" --name {{ pms_service }} -e TZ="{{ timezone }}" --net=host -v {{ pms_conf_dir }}/entrypoint.sh:/entrypoint.sh:ro -v {{pms_conf_dir}}:/config -v /etc/localtime:/etc/localtime:ro -v {{ pms_data_dir }}:/data:ro --device=/dev/dri:/dev/dri {{ pms_docker_image }}:{{ pms_docker_image_version }}
ExecStop=/usr/bin/docker stop {{pms_service}}

[Install]
WantedBy=multi-user.target
