apiVersion: v1
kind: Secret
metadata:
  name: wellesleynet-wildcard
  namespace: default
type: kubernetes.io/tls
data:
  tls.crt: "{{ lookup('file', '../nginx-proxy/files/wellesleynet.com.pem') | b64encode }}"
  tls.key: "{{ lookup('file', '../nginx-proxy/files/wellesleynet.com.key') | b64encode }}"
