port: {{ filebrowser_port }}
noAuth: true
address: "{{ filebrowser_address }}"
alternativeReCaptcha: false
reCaptchaKey: ''
reCaptchaSecret: ''
database: "{{ filebrowser_db }}"
log: stdout
plugin: ''
scope: "{{ filebrowswer_scope_path }}"
allowCommands: false
allowEdit: true
allowNew: true
