homeassistant:
  name: Home
  latitude: {{homeassistant_latitude}}
  longitude: {{homeassistant_longitude}}
  elevation: {{homeassistant_elevation}}
  unit_system: {{homeassistant_unit_system}}
  time_zone: {{homeassistant_timezone}}
  customize: !include customize.yaml
  customize_domain: !include customize_domain.yaml
  customize_glob: !include customize_glob.yaml 
  auth_providers:
    - type: homeassistant

frontend:

config:

updater:

discovery:
  ignore:
    - plex_mediaserver
    - google_cast

conversation:

history:

logbook:

map:

sensor:
  - platform: nut
    name: UPS
    host: callisto.wellesleynet.com
    alias: ups
    username: {{homeassistant_nut_user}}
    password: {{homeassistant_nut_password}}
    resources:
      - ups.status
      - battery.charge
      - battery.runtime
      - ups.load
  - platform: plex
    host: zorya.wellesleynet.com
    port: 32400
    name: Plex
    token: {{ x_plex_token }}

tts:
  - platform: google

group: !include groups.yaml

automation: !include automations.yaml

script: !include scripts.yaml

zwave:
  usb_path: /dev/ttyUSB0
  network_key: "{{homeassistant_zwave_network_key}}"

#temporarily disabling until I get more zigbee devices
#zha:
#  usb_path: /dev/ttyUSB1
#  database_path: {{homeassistant_conf_dir}}/zha.db

device_tracker:
  - platform: unifi
    username: {{homeassistant_unifi_user}}
    password: {{homeassistant_unifi_password}}
    host: {{unifi_url}}
    detection_time: 1800
    new_device_defaults:
      track_new_devices: False

lifx:

scene:
  platform: lifx_cloud
  token: {{homeassistant_lifx_api_token}}

notify:
  - name: gmail
    platform: smtp
    sender: {{homeassistant_gmail_sender}}
    recipient: {{homeassistant_gmail_recipient}}
    server: smtp.gmail.com
    sender_name: "home-assistant"
    username: {{homeassistant_gmail_sender}}
    password: {{homeassistant_gmail_password}}
  - name: all
    platform: group
    services:
      - service: gmail

alert: !include alerts.yaml
binary_sensor: !include binary_sensors.yaml

media_player:
  - platform: roku
    host: 192.168.67.192
