map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

server {
    server_name {{homeassistant_url}};

    listen 80;
    return 301 https://$host$request_uri;
}

server {
    server_name {{homeassistant_url}};

    ssl_certificate {{nginx_proxy_container_ssl_dir}}/{{nginx_proxy_wellesleynet_wildcard_ssl_cert}};
    ssl_certificate_key {{nginx_proxy_container_ssl_dir}}/{{nginx_proxy_wellesleynet_wildcard_ssl_key}};

    ssl_dhparam {{nginx_proxy_container_ssl_dir}}/dhparams.pem;

    listen 443 ssl http2;
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";
    ssl on;
    ssl_protocols TLSv1.2;
    ssl_ciphers "{{ssl_cipher_suite}}";
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_stapling on;
    ssl_stapling_verify on;

    proxy_buffering off;

    location / {
        proxy_pass http://localhost:{{homeassistant_port}};
        proxy_set_header Host $host;
        proxy_redirect http:// https://;
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }
}
