worker_processes  auto;
events {
    worker_connections  1024;
}
http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;
    keepalive_timeout  65;
    client_max_body_size 10m;

    upstream filebrowser {
        server 127.0.0.01:8080;
    }

    server {
        server_name {{ inventory_hostname }};
        listen 80;
        return 301 https://$host$request_uri;
    }

    server {
        server_name {{ inventory_hostname }};
        listen 443 ssl http2;
        ssl_protocols TLSv1.2;
        ssl_ciphers "{{ssl_cipher_suite}}";
        ssl_prefer_server_ciphers on;
        ssl_session_timeout 5m;
        ssl_certificate {{ nginx_ssl_dir }}/certs/{{ nginx_wellesleynet_wildcard_ssl_cert }};
        ssl_certificate_key {{ nginx_ssl_dir }}/private/{{ nginx_wellesleynet_wildcard_ssl_key }};
        ssl_dhparam {{ nginx_ssl_dir }}/private/dhparams.pem;
        add_header Strict-Transport-Security "max-age=31536000";
        location / {
                proxy_set_header Host localhost;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_pass http://filebrowser;
        }
    }
}
